# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.iml
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Sera borrado .idea/
Sera borrado subgrup-prop4-2.iml

*.xml
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows template
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Linux template
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Java template
# Compiled class file

# Log file

# BlueJ files

# Mobile Tools for Java (J2ME)

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
Sera borrado .gradle/
Sera borrado FONTS/META-INF/
Sera borrado build/classes/
Sera borrado build/generated/
Sera borrado build/libs/
Sera borrado build/reports/
Sera borrado build/test-results/test/binary/
Sera borrado build/tmp/
Sera borrado src/
Sera borrado target/
Sera borrado build/docs/
/.gradle/
/build/classes/java/main/dades/CtrlDades$1.class
/build/classes/java/main/dades/CtrlDades.class
/build/classes/java/main/dades/CtrlDataAventura$1.class
/build/classes/java/main/dades/CtrlDataAventura.class
/build/classes/java/main/dades/CtrlDataKakuro$1.class
/build/classes/java/main/dades/CtrlDataKakuro.class
/build/classes/java/main/dades/CtrlDataPartida$1.class
/build/classes/java/main/dades/CtrlDataPartida.class
/build/classes/java/main/dades/CtrlDataPerfil$1.class
/build/classes/java/main/dades/CtrlDataPerfil.class
/build/classes/java/main/dades/CtrlDataRanking$1.class
/build/classes/java/main/dades/CtrlDataRanking.class
/build/classes/java/main/dades/CtrlDataUsuaris$1.class
/build/classes/java/main/dades/CtrlDataUsuaris.class
/build/classes/java/main/dades/DriverCtrlDataAventura.class
/build/classes/java/main/dades/DriverCtrlDataKakuro.class
/build/classes/java/main/dades/DriverCtrlDataPartida.class
/build/classes/java/main/dades/DriverCtrlDataUsuaris.class
/build/classes/java/main/domain/aventura/Aventura.class
/build/classes/java/main/domain/aventura/DriverAventura.class
/build/classes/java/main/domain/cella/Cella.class
/build/classes/java/main/domain/cella/CellaBlanca.class
/build/classes/java/main/domain/cella/CellaNegra.class
/build/classes/java/main/domain/cella/ColorCella.class
/build/classes/java/main/domain/cella/DriverCella.class
/build/classes/java/main/domain/kakuro/DriverTauler.class
/build/classes/java/main/domain/kakuro/Kakuro.class
/build/classes/java/main/domain/kakuro/KakuroDriver.class
/build/classes/java/main/domain/kakuro/Tauler.class
/build/classes/java/main/domain/partida/CjtPartida.class
/build/classes/java/main/domain/partida/DriverPartida.class
/build/classes/java/main/domain/partida/Partida.class
/build/classes/java/main/domain/ranking/Ranking.class
/build/classes/java/main/domain/ranking/Stat.class
/build/classes/java/main/domain/usuari/DriverPerfil.class
/build/classes/java/main/domain/usuari/DriverUsuari.class
/build/classes/java/main/domain/usuari/Perfil.class
/build/classes/java/main/domain/usuari/UserException.class
/build/classes/java/main/domain/usuari/Usuari.class
/build/classes/java/main/domaincontrollers/CtrlDomain$1.class
/build/classes/java/main/domaincontrollers/CtrlDomain.class
/build/classes/java/main/presentacion/CtrlPresentacion$1.class
/build/classes/java/main/presentacion/CtrlPresentacion.class
/build/classes/java/main/presentacion/VistaAjustesPredefinidos.class
/build/classes/java/main/presentacion/VistaAventura.class
/build/classes/java/main/presentacion/VistaEstadistica.class
/build/classes/java/main/presentacion/VistaGestionPartida.class
/build/classes/java/main/presentacion/VistaLogIn.class
/build/classes/java/main/presentacion/VistaPartida$1.class
/build/classes/java/main/presentacion/VistaPartida.class
/build/classes/java/main/presentacion/VistaPerfil.class
/build/classes/java/main/presentacion/VistaPerfilPropio.class
/build/classes/java/main/presentacion/VistaPrincipal.class
/build/classes/java/main/presentacion/VistaSelectorPartida.class
/build/classes/java/main/CellaTest.class
/build/classes/java/main/CtrlDataKakuroTest.class
/build/classes/java/main/KakuroTest.class
/build/classes/java/main/Main.class
/build/classes/java/main/TaulerTest.class
/build/resources/main/Aventura1.txt
/build/resources/main/Aventura2.txt
/build/resources/main/Aventura3.txt
/build/resources/main/Aventura4.txt
/build/resources/main/Aventura5.txt
/build/resources/main/Aventura6.txt
/build/resources/main/Aventura7.txt
/build/resources/main/Aventura8.txt
/build/resources/main/Aventura9.txt
/build/resources/main/Aventura10.txt
/build/resources/main/Aventura11.txt
/build/resources/main/Aventura12.txt
/build/resources/main/Aventura13.txt
/build/resources/main/Aventura14.txt
/build/resources/main/Aventura15.txt
/build/resources/main/back_button.png
/build/resources/main/Facil1.txt
/build/resources/main/Facil2.txt
/build/resources/main/Facil3.txt
/build/resources/main/Facil4.txt
/build/resources/main/Facil5.txt
/build/resources/main/Facil6.txt
/build/resources/main/Facil7.txt
/build/resources/main/Facil8.txt
/build/resources/main/Facil9.txt
/build/resources/main/Facil10.txt
/build/resources/main/Hard1.txt
/build/resources/main/Hard2.txt
/build/resources/main/Hard3.txt
/build/resources/main/Hard4.txt
/build/resources/main/Hard5.txt
/build/resources/main/icon.png
/build/resources/main/index.html
/build/resources/main/kakuro-test.txt
/build/resources/main/Medio1.txt
/build/resources/main/Medio2.txt
/build/resources/main/Medio3.txt
/build/resources/main/Medio4.txt
/build/resources/main/Medio5.txt
/build/resources/main/ranking.csv
/build/resources/main/translate_es.properties
/build/resources/main/users.json
/build/resources/main/vistaAjustes.fxml
/build/resources/main/vistaAjustesPredefinidos.fxml
/build/resources/main/VistaAventura.fxml
/build/resources/main/vistaEstadistica.fxml
/build/resources/main/vistaGaleria.fxml
/build/resources/main/VistaGestionPartida.fxml
/build/resources/main/vistaLogIn.fxml
/build/resources/main/vistaPartida.fxml
/build/resources/main/vistaPerfil.fxml
/build/resources/main/vistaPerfilPropio.fxml
/build/resources/main/vistaPrincipal.fxml
/build/resources/main/vistaSelectorPartida.fxml
/build/tmp/compileJava/source-classes-mapping.txt
/build/tmp/javadoc/javadoc.options
